body {
	background: LightSteelBlue;
}

.pulsanti{
    position: absolute;
    top: 50%;
    left: 40%;
    margin: 15px;
	border: 10px;
	z-index: 6;
}

.pulsante{
	border: 10px;
    margin: 10px;	
	border-style: dashed;
}

.bottone{
	position: absolute;
    top: 68%;
    left: 5%;
}
.titolo{
	 position: absolute;
	 top: 2%;
	 left: 30%;
	 font-size: 30px;
	 font-style:oblique;
	 font-family: cursive;
	 color: black;
	 text-align: center;
	 border-color: Gray;
	 border-style:ridge;
	 padding: 10px;
	 padding-right: 165px;
	 background-color: DarkSeaGreen;
	 z-index: 2;
	
}

.immagine{
	position: absolute;
	top: 30%;
	z-index: 1;
}

.menu{
	position: absolute;
	top: 20%;
	left: 30%;
	padding-right: 200px;
	background-color: Silver;
	border-color: Gray;
	border-style: ridge;
    font-size: 20px;	
	z-index: 5;
}

.codice{
	position: absolute;
	top: 100%;
	left: 2%;
	border:20px;
	border-style: ridge;
	padding: 0%;
	width: 50%;
	height: 25%;
	overflow: auto;
	background: black;
	color: white;
    z-index: 4;	
}

.tabella{
	position: absolute;
	top: 20%;
	left: 30%;
	background-color: Silver;
	border-color: Gray;
	border-style: ridge;	
}

.tabella td{
	font-size: 20px;	
}

:link{
	color: black;
}
:visited{
	color: SlateBlue;
}


	
  h2{
	text-transform: uppercase;
	font-style: oblique;
	font-size: 30px;
    }

  h3{
	 font-family: cursive;
	 font-size: 17px;
    }
	
  h4{
	 font-family: arial;
     font-size: 15px;	 
	  
  }

.sezione{
	 position: absolute;
	 top: 100%;
	 z-index: 3;
}

.menu_css{
	position: absolute;
	top: 20%;
	left: 30%;
	padding-right: 270px;
	background-color: Wheat;
	border-color: Navy;
	border-style: groove;
    font-size: 20px;	
	z-index: 5;
}
